<!--Gavin Nguyen 301216298 September 27th 2022-->

<center>
<body>
<h1> Hi you have reached my contact page!</h1>
<p>Message me for more information</p>
<p> Send me an email at:  gavinnguyen578@gmail.com </p>

<form>
    <label for="firstname">FirstName:<input type="text" id="fname" name="fname"</label>
<br>
<br>
    
    <label for="lastname">LastName:<input type="text" id="lname" name="lname"</label>
  <br>
  <br>

    <label for="Contact">Contact Number:<input type="text" id="Contact" name="contact"</label>
    <br>
    <br>
    
    <label for="Email">Email:<input type="text" id="email" name="email"</label>
     <br>
     <br>

     <label for="Message">Message:<input type="text" id="Message" name="Message"</label>
     <br>
     <br>
      <!-- This links to the main home page when pressing the submit button-->
     <a href="/"> <button type="button"> Submit</button></a>
      </a>



</center>



    
