<!--Gavin Nguyen 301216298 September 27th 2022-->
 <center>
<h2>Hello Everyone! you have reached my About me Page</h2>
<img src ="/Assets/images/Gavin.jpg" alt ="Myself" width="400" height="650">
<p>My legal name is Gavin Tam Nguyen </p>
<h4>About Me:</h4>
<p>I am 20 years old and I live in Ottawa.<br>I am currrently studying at the cenntenial college<br>majoring in Software Engineering Technology.</p>
<h4>My Resume</h4>
<p><a href="/Assets/images/Gavin.pdf">My Resume</a></p>
<br>
<br>
