<!-- Buttom footer-->
<!--Gavin Nguyen 301216298 September 27th 2022-->
<footer>
    <nav class="navbar fixed-bottom bg-light">
      <div class="container-fluid">
        <h6 class=="display-6 navbar-text">&copy;copyright 2022. Gavin Nguyen.</h6>
      </div>
    </nav>
  </footer>