
<!--Gavin Nguyen 301216298 September 27th 2022-->

 <center>
    <body>
        <h2>Welcome To Gavin's Home Page. </h2>
        <br>
        <img src="/Assets/images/Capture.PNGweb.PNG"alt="Custom Logo" width ="500" height="600">
        <h3>Mission Statement: My portfolio is to attract potential big software engineering companies by viewing what ive done on here  </h3>
        </body>
    </center>
        
        

       