


 <center>
    <body>
        <h2>Welcome To Gavin's Home Page. </h2>
        <br>
        <img src = "/Assets/images/Capture.PNGweb.PNG"alt="Custom Logo" width ="500" height="600">
        <h3>Mission Statement: To create a functional website Portfolio</h3>
    </center>
        
        

       