<!--Gavin Nguyen 301216298 September 27th 2022-->
<center>
    <body>
    <h3>This is my Project Page</h3>
    <h3>The BMR METRIC CALUCLATOR</h3>
    <img src= "Assets/images/Capture.PNGmetric.PNG"alt="Custom Logo" width ="500" height="300">
    <p>Here I built the Metric Calculator for an assignment.<br> The Basal Metabolic rate (BMR) calculator in METRIC <br>estimates your metabolic rate, or the amount of energy expended<br>while at rest.and can be helpful in estimating your daily coloric needs.</p>
    <h3>The BMR Imperial CALUCLATOR</h3>
    <img src = "Assets/images/Capture.PNGimperial.PNG"alt="Custom Logo" width ="500" height="300">
    <p>Here I built the Imperial Calculator for an assignment.<br> The Basal Metabolic rate (BMR) calculator in METRIC <br>estimates your metabolic rate, or the amount of energy expended<br>while at rest.and can be helpful in estimating your daily coloric needs.</p>
    <h3>Photo Gallery</h3>
    <img src ="Assets/images/Capture.PNGgalleryphoto.PNG"alt="Custom Logo" width ="500" height="230">
    <p>Here I have created a website for my Assignment it is a Gallery.</p>
    <br>
    <br>
</body>
</center>