 <!--Gavin Nguyen 301216298 September 27th 2022-->
 <center>
    <body>
<h2>Welcome To Gavin's Service Page </h2>
    <p>Here are some of my services that I can help you guys with.</p>
    <h3>I know how to code in Java </h3>
    <img src = "Assets/images/Capture.PNGjava..PNG"alt="Java" width ="500" height="450">
    <h3>I know how to create a website, still work in progress</h3>
    <img src = "Assets/images/Capture.PNGworkingon.PNG"alt="Work in progress" width ="500" height="450">
</body>
</center>